@namespace "library://ns.adobe.com/flex/spark";

IconItemRenderer.summary {
	messageStyleName: message;
	verticalGap: 8;
}

.message {
	color: #000000;
}

ActionBar {
	chromeColor: #89b556;
}

.detailTitle {
	fontWeight: bold;
	fontSize: 20;
	color: #ffffff;
}

.detailBar {
	fontSize: 12;
	color: #ffffff;
}

.discussButton {
	fontSize: 12;
	chromeColor: #89b556;
	color: #ffffff;
	textShadowColor: #000000;
}

@media (os-platform: "ios") {
	ActionBar {
		defaultButtonAppearance: "beveled";
		titleAlign: "center";
	}
}

